.header{
	background-color: lightblue;
	min-height: 100px;
}
.parent{
	overflow: hidden;
	border: 5px solid red;
}
.blog{
	background-color: teal;
	min-height: 300px;
	width: 70%;
	float:left;
}
.contact{
	background-color: blue;
	min-height: 300px;
	width: 30%;
	float: right;
}
.service{
       overflow: hidden;
       border: 5px solid green;
}
.box{
     width: 20%;
     min-height: 150px;
     float: left;

}
.box1{
      background-color: teal;
}
.box2{
    background-color: black;

}
.box3{
	background-color: lime;

}
.box4{
	background-color: lightblue;

}
.box5{
	background-color: pink;
}
.footer{
	background-color: black;
	min-height: 150px;
}
